<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appbrewery.androidssh">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.camera2.full"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/sshicon"
        android:label="@string/app_name"
        android:theme="@style/AndroidSSH">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.appbrewery.androidssh.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

        <activity
            android:name="com.appbrewery.androidssh.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.appbrewery.androidssh.FileListActivity"
            android:label="FileListActivity"></activity>
        <activity
            android:name="com.appbrewery.androidssh.ConfigActivity"
            android:label="@string/title_activity_config"></activity>
    </application>

</manifest>
